.colour-bar {
    padding: 20px;
    /*margin: 10px;*/

    transition: 0.6s;
    transform-style: preserve-3d;

    position: relative;

    width: 100%
}

.colour-bar .front {
    z-index: 2;
    transform: rotateY(0deg);
}

.colour-bar .back {
    transform: rotateY(180deg);
}

.colour-bar .front, .colour-bar .back {
    backface-visibility: hidden;
}

.flipped {
    transform: rotateY(180deg);
}