.App {
  background-color: #eee;
  max-height: 100vh;
  height: 100vh;
  display: flex;
  flex-direction: column;
}

.app-header {
  color: black;
  height: 40px;
}

.colour-container {
  flex: 1;
  display: flex;
  font-size: calc(10px + 2vmin);
  color: white;
}

.colour-list {
  flex: 1;
  display: grid;
  padding: 0.2em;
  gap: 0.2em;
  list-style: none;
  margin: 0;
}

.colour-list.columns {
  grid-auto-flow: column;
}

.colour-list.rows {
  grid-auto-flow: row;
}

.colour-list.grid {
  grid-template-columns: auto auto;
}

.colour-item {
  flex: 1;
  display: flex;
}

.App-link {
  color: #61dafb;
}